<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bush (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,65}</string>
                <key>spriteSourceSize</key>
                <string>{133,65}</string>
                <key>textureRect</key>
                <string>{{152,47},{133,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,65}</string>
                <key>spriteSourceSize</key>
                <string>{133,65}</string>
                <key>textureRect</key>
                <string>{{285,47},{133,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,47}</string>
                <key>spriteSourceSize</key>
                <string>{73,47}</string>
                <key>textureRect</key>
                <string>{{288,0},{73,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,46}</string>
                <key>spriteSourceSize</key>
                <string>{73,46}</string>
                <key>textureRect</key>
                <string>{{215,0},{73,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{63,112},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mushroom_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,41}</string>
                <key>spriteSourceSize</key>
                <string>{49,41}</string>
                <key>textureRect</key>
                <string>{{50,0},{49,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mushroom_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,41}</string>
                <key>spriteSourceSize</key>
                <string>{50,41}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sign_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{63,65}</string>
                <key>textureRect</key>
                <string>{{0,112},{63,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sign_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{90,47},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{0,47},{90,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tree_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,44}</string>
                <key>spriteSourceSize</key>
                <string>{116,44}</string>
                <key>textureRect</key>
                <string>{{99,0},{116,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tree_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,301}</string>
                <key>spriteSourceSize</key>
                <string>{282,301}</string>
                <key>textureRect</key>
                <string>{{0,387},{282,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tree_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,275}</string>
                <key>spriteSourceSize</key>
                <string>{282,275}</string>
                <key>textureRect</key>
                <string>{{140,112},{282,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ForestObjects.png</string>
            <key>size</key>
            <string>{422,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6308b0e858a3785450907813fe15369e:202130875aa299cbb525a4ec54944d7e:49ab0d97f0266d28e91609601005daff$</string>
            <key>textureFileName</key>
            <string>ForestObjects.png</string>
        </dict>
    </dict>
</plist>
