<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bush (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,88}</string>
                <key>spriteSourceSize</key>
                <string>{145,88}</string>
                <key>textureRect</key>
                <string>{{0,139},{145,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,74}</string>
                <key>spriteSourceSize</key>
                <string>{131,74}</string>
                <key>textureRect</key>
                <string>{{124,51},{131,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cactus (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,111}</string>
                <key>spriteSourceSize</key>
                <string>{108,111}</string>
                <key>textureRect</key>
                <string>{{0,240},{108,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cactus (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,45}</string>
                <key>spriteSourceSize</key>
                <string>{70,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cactus (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,96}</string>
                <key>spriteSourceSize</key>
                <string>{86,96}</string>
                <key>textureRect</key>
                <string>{{145,139},{86,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{332,139},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,50}</string>
                <key>spriteSourceSize</key>
                <string>{102,50}</string>
                <key>textureRect</key>
                <string>{{70,0},{102,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Grass (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,50}</string>
                <key>spriteSourceSize</key>
                <string>{102,50}</string>
                <key>textureRect</key>
                <string>{{172,0},{102,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,88}</string>
                <key>spriteSourceSize</key>
                <string>{85,88}</string>
                <key>textureRect</key>
                <string>{{339,51},{85,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SignArrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{255,51},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skeleton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,51}</string>
                <key>spriteSourceSize</key>
                <string>{150,51}</string>
                <key>textureRect</key>
                <string>{{274,0},{150,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,73}</string>
                <key>spriteSourceSize</key>
                <string>{124,73}</string>
                <key>textureRect</key>
                <string>{{0,51},{124,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StoneBlock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,99}</string>
                <key>spriteSourceSize</key>
                <string>{101,99}</string>
                <key>textureRect</key>
                <string>{{231,139},{101,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,260}</string>
                <key>spriteSourceSize</key>
                <string>{313,260}</string>
                <key>textureRect</key>
                <string>{{108,240},{313,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DesertObjects.png</string>
            <key>size</key>
            <string>{433,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:398d454ea1768fefc166eaecc5958339:ca74173a48049d40c190bd104f221bfa:d640392bf4c5f97aad44bf953f645c79$</string>
            <key>textureFileName</key>
            <string>DesertObjects.png</string>
        </dict>
    </dict>
</plist>
