<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArrowSign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,87}</string>
                <key>spriteSourceSize</key>
                <string>{86,87}</string>
                <key>textureRect</key>
                <string>{{0,76},{86,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,182},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{128,182},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{256,182},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bone (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{0,310},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,90}</string>
                <key>spriteSourceSize</key>
                <string>{182,90}</string>
                <key>textureRect</key>
                <string>{{86,76},{182,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bush (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{156,0},{100,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{106,106}</string>
                <key>textureRect</key>
                <string>{{359,76},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DeadBush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{132,74}</string>
                <key>textureRect</key>
                <string>{{256,0},{132,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{268,76},{91,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skeleton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,50}</string>
                <key>spriteSourceSize</key>
                <string>{102,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{102,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TombStone (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{102,0},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TombStone (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,76}</string>
                <key>spriteSourceSize</key>
                <string>{53,76}</string>
                <key>textureRect</key>
                <string>{{388,0},{53,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,239}</string>
                <key>spriteSourceSize</key>
                <string>{286,239}</string>
                <key>textureRect</key>
                <string>{{128,310},{286,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CemeteryObjects.png</string>
            <key>size</key>
            <string>{465,549}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbc6ed317d46dd6a73cf96992c2a7ec8:25ea3f269650e844d4e50bd4c7c6b3fa:01ea5a5d7934b194830fe2151fc272e8$</string>
            <key>textureFileName</key>
            <string>CemeteryObjects.png</string>
        </dict>
    </dict>
</plist>
